<%= form_for [startupable, Startup.new] do |f| %>
	<div class="form-group">
		<%= f.text_field :company, class: "form-control", placeholder: "Startup Name" %>
	</div>
	<div class="form-group">
		<%= f.text_field :url, class: "form-control", placeholder: "Website" %>
	</div>

	<%= f.submit class: "btn btn-primary" %>

<% end %>