<br>
<% startupable.startups.each do |startup| %>
	<h4><strong> Name:</strong> <%= startup.company %></h4>
	<h4><strong>More Info:</strong> <%= link_to startup.url, startup.url %></h4>
	<h4><strong> Description:</strong> <h4>
		<p><%= startup.description %><p>

			<br> 
			<hr>
<% end %>
