<table class="table table-striped">
	 <thead>
		<tr>
          <th>Name</th>
          <th>Url</th>
        </tr>
     </thead>
  <tbody>
	<% startupable.startups.each do |startup| %>
	<tr>
		<td><%= startup.company %></td>
		<td><%= link_to startup.url, startup.url %></td>
	</tr>
	<% end %>
 </tbody>	
</table>