 <h1>How it works.</h1>
 	<div class="row">
 		<div class="col-lg-12">
 			<h3>1. Tell us what industry you'd like us to search.<h3>
 		</div>
	 </div>
	 <div class="row">
 		<div class="col-lg-12">
 			<h3>2. Then give us your business name, url, and describe the model.<h3>
 		</div>
	 </div>

	  <div class="row">
 		<div class="col-lg-12">
 			<h3>3. That's it! We'll send you a list of competitors right to your inbox.<h3>
 		</div>
	 </div>
	 
	 <br>
	 <br>
	 <br>

		<h4>Check out the list that we created for a few startups in the Outdoor industry</h4>
          <% @industries.each do |industry| %>
            <%= link_to 'Demo', industry, class: "btn btn-lg btn-success" if policy(industry).show? %>
            <% if industry.user === current_user %>
            <%= link_to 'Edit', edit_industry_path(industry), class: "btn btn-lg btn-primary" if policy(industry).update? %></a>
            <%= link_to 'Delete', industry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-danger"  if policy(industry).destroy? %>
            <% end %>
        <% end %>

    <br>


    <% if user_signed_in? %>
      <% if policy(Industry).new? %>
      <%= link_to 'New Industry', new_industry_path, class: "btn btn-primary" %>
       <% end%>
    <% end %>
 
   


