
<h3 class="text-center">Check out our sample report.</h3>
<br>
<h4 class="text-center">We built this report for a startup in the Outdoor industry looking for businesses that help customers hire an outdoor guide.</h4>
<br>
<h4><strong>Number of startups:</strong> 8</h4>
<br>
	<h4><strong> Name:</strong> Guidehire</h4>
	<h4><strong>More Info:</strong> <a href="https://angel.co/guidehire">https://angel.co/guidehire</a></h4>
	<h4><strong> Description:</strong> <h4>
		<p>GuideHire is the online marketplace that connects consumers with a network of outdoor guides and instructors. If it gets you outside, We Know A Guide.<p>

			<br> 
			<hr>
	<h4><strong> Name:</strong> Charter smarter</h4>
	<h4><strong>More Info:</strong> <a href="https://angel.co/charter-smarter">https://angel.co/charter-smarter</a></h4>
	<h4><strong> Description:</strong> <h4>
		<p>SplitTrips.com is a web and mobile application that provides an online marketplace for Charter Fishing and Hunting Lodge providers to sell their unfilled charter slots and State issued game tags online, last minute.<p>

			<br> 
			<hr>
	<h4><strong> Name:</strong> Fin and Field</h4>
	<h4><strong>More Info:</strong> <a href="https://angel.co/fin-field">https://angel.co/fin-field</a></h4>
	<h4><strong> Description:</strong> <h4>
		<p>A Hunting and Fishing Marketplace<p>

			<br> 
			<hr>
	<h4><strong> Name:</strong> Vestigo Adventures</h4>
	<h4><strong>More Info:</strong> <a href="https://angel.co/vestigo-adventures">https://angel.co/vestigo-adventures</a></h4>
	<h4><strong> Description:</strong> <h4>
		<p>Guided outdoor adventures from local professionals<p>

			<br> 
			<hr>
	<h4><strong> Name:</strong> TRAIL.PL </h4>
	<h4><strong>More Info:</strong> <a href="https://angel.co/trail-pl-trails-maps-and-gps">https://angel.co/trail-pl-trails-maps-and-gps</a></h4>
	<h4><strong> Description:</strong> <h4>
		<p>Easy way to connect outdoor/gps enthusiast with guides, instructors and accomodation.<p>

			<br> 
			<hr>
	<h4><strong> Name:</strong> Fishing Guides 360</h4>
	<h4><strong>More Info:</strong> <a href="https://angel.co/fishing-guides-360">https://angel.co/fishing-guides-360</a></h4>
	<h4><strong> Description:</strong> <h4>
		<p>Fishing Guides 360 is a multi-sided SaaS for fishing guides and charter boats. We integrate the booking and reservation management system with a retail booking engine and a suite of marketing tools. This enables guides and captains to spend more time fishing and less time managing and marketing their business. 

The booking engine enables anglers to search for guides, charter boats, and available spots and securely book online. 

FG360 is one member of the Outdoor Guides 360 family of products.<p>

			<br> 
			<hr>
	<h4><strong> Name:</strong> FishingBooker</h4>
	<h4><strong>More Info:</strong> <a href="https://angel.co/fishingbooker">https://angel.co/fishingbooker</a></h4>
	<h4><strong> Description:</strong> <h4>
		<p>World's largest online marketplace for fishing charters.<p>

			<br> 
			<hr>
	<h4><strong> Name:</strong> Switchback Travel</h4>
	<h4><strong>More Info:</strong> <a href="https://angel.co/switchback-travel-1">https://angel.co/switchback-travel-1</a></h4>
	<h4><strong> Description:</strong> <h4>
		<p>Switchback Travel is building the world’s premier adventure travel information brand. We provide adventure travel guides and lifestyle with destinations in the United States, Europe, South America, Asia, and more. Revenue is advertisement-based, with the travel and outdoor sectors commanding some of the highest rates on the market. Switchback Travel was meticulously designed and built by top Seattle firms (Design Hovie Studios and the Bear Group) for a high revenue and targeted audience.<p>
		
		<hr>
		<br>
