<div class="container">
	<div class="box">

		<h3>Outdoor Industry Startups</h3>
		<h3></h3>
		<p>
		  <%= render "categories/index" , :categories => @categories %>
		</p>

		<%= link_to 'Edit', edit_industry_path(@industry) %> |
		<%= link_to 'Back', industries_path %>
	</div>
</div>