<div class="jumbotron text-center">
	<h3>Log in or sign up to view the data base and report</h3>
	<%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-default" %>
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
