<div class="panel panel-default">
    <div class="panel-heading">
	<h1>New category</h1>
	</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>


	<div class="panel-footer">
	<%= link_to 'Back', @industry, class: "btn btn-primary" %>
	</div>

</div>
