<div class="container">
	<div class="box">
		<h3>What is VentureOwls?</h3>

		<p>VentureOwls is a curated database that organizes startups by what industry the are in and their business model category. We've mostly been reorganizing startups we find on Angel List into categories. We'll draw from other databases soon as well as building our own.</p>

		<p>The data base is meant to make it easier for entrepreneurs and investors to learn about the various businesses in a particular space. Anyone who feels they have knowledge of the startups in a particular industry can contribute their own database and get access to the database for free. Or you can just pay to have us do the research for you and send you a report on the startups in your space.</p>

		<h3>Why did you build VentureOwls?</h3>

		<p>I built VentureOwls after spending months research and talking to startups in the Outdoor industry. I found that existing databases like CrunchBase and Angelist don't categorize startups by grouping them with competitors who have similar business model. When researching a particular startup, it's always good to see who their competition is. I figured other investors and entrepreneurs might benefit from my data and maybe be willing to contribute their own.</p>

		<h3>How can I contribute?</h3>
		
		<p>If you're working in a particular industry and feel you know who the different companies are in the space you can contribute your knowledge by creating an industry and adding startup categories to the database. Contact me <a href="mailto:alex@kehaya.com">here</a> and I'll give you access to contribute. Please let me know your background and send me a link to your LinkedIn.</p>
	</div>
</div>