

  <% if user_signed_in? %>
    
    <div class="container">
      <div class="box text-center">
      	<h1>Research another startup.</h1>
      	<%= link_to "Get your next report", new_submission_path, class: "btn btn-lg btn-success" %>
      	
      </div>
    </div>

  <% else %>
	<div class="bgimage">
		<div class="text-center landing">
	  	<h1>Looking for your startup's competition?</h1>
	  	<h4>Our experts do the research for you and send you the report!</h4>

	  <%= link_to "Get your report for just $9.99", new_user_registration_path, class: "btn btn-lg btn-danger" %>
	</div>
	</div>
<div class="container">
  	<div class="jumbotron text-center">
  		<%= render 'industries/demo' %>
	</div>
 </div>
</div> <!-- end of image background div -->

  <% end %>

