
<div class="box text-center">
  <h1>Looking for a startup's competition?</h1>
  <h4>We do the research for you!</h4>

  <%= link_to "Get your first search free!", new_submission_path, class: "btn btn-lg btn-danger" %>
  
  <h1>How it works.</h1>

  <div class="row"> 

  	<div class="col-md-6">
      <h3>1. Describe what industry you're in.</h3>
    </div>

    <div class="col-md-6">
    </div> 

   
    <div class="row">
      <div class="col-md-6">
      </div>
       <div class="col-md-6">
        <h3>2. Tell us about your startup. </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>3. Our professional researchers get to work. </h3>
      </div>
       <div class="col-md-6">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <h3>4. We send you a list of the competitors in your industry with in 24 hours.</h3>
      </div>
  	</div>

</div>

