<div class="footer navbar-bottom">
	<div class="container">
			<%= link_to "Home", root_path %> |
			<%= link_to "About", about_path %>
			
			<div class="navbar-right"> 
				<a href="https://twitter.com/afkehaya">Created by @afkehaya</a>
			</div>
	</div>
</div>