<div class="footer navbar-bottom">
	<div class="container">
			<%= link_to "Home", root_path %> |
			<a class="scroll works" href="#works">How it works</a> 
			<%= link_to "About", about_path, class: "hide" %> 
			
			<div class="navbar-right"> 
				<a href="https://twitter.com/afkehaya">Created by @afkehaya</a>
			</div>
	</div>
</div>